body {
    background: linear-gradient(
            135deg,
            #013a6e,
            #00fff5);
}


.menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
}


.menu div {
    flex: 1;
    background-color: rgb(234 184 141 / 0.65);
    border: 0.1em solid black;
    width: 13em;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgb(255 255 255 / 0.41);
}

.menu div a {
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    display: block;
    text-shadow: 0 0 1em rgb(9 0 0 / 0.41);
}

h1 {
    clear: left;
    font-family: 'Times New Roman', Times, serif;
    color: #f6e8c9;
    text-shadow: 0 0 1em rgb(255 255 255 / 0.41);
}

.inhalt {
    display: grid;
    grid-template-columns:
   repeat(auto-fit, minmax(20rem, 1fr));

}

.absatz {
    margin: 0.5em;
    padding: 1em;
    /*background-color: rgb(17 47 83 / 0.33);*/
    color: white;
    border-radius: 0.5em;
    border: 0.1em solid #ef1313;
    font-family: sans-serif;
    box-shadow: 0 0 1em rgb(255 255 255 / 0.41);
    background: linear-gradient(
            135deg,
            rgb(45 110 1 / 0.4),
            rgb(95 26 133 / 0.38));
}

.absatz.gruen {
    background: linear-gradient(
            135deg,
            rgb(125 255 0 / 0.4),
            rgb(95 26 133 / 0.38));
    border: 0.1em solid #00ff00;
}

.absatz.blau {
    background: linear-gradient(
            135deg,
            rgb(20 67 168),
            rgb(95 26 133 / 0.38));
    border: 0.1em solid #0000ff;
}

.absatz.gelb {
    background: linear-gradient(
            135deg,
            rgb(204 204 7 / 0.4),
            rgb(95 26 133 / 0.38));
    border: 0.1em solid #ffff00;
}

.absatz.rot {
    background: linear-gradient(
            135deg,
            rgb(255 0 0 / 0.4),
            rgb(95 26 133 / 0.38));
    border: 0.1em solid #ff0000;
}

.absatz.schwarz {
    background: linear-gradient(
            135deg,
            rgb(0 0 0 / 0.91),
            rgb(95 26 133 / 0.38));
    border: 0.1em solid #ffffff;
}

.absatz a {
    color: white;
}

.rund {
    border-radius: 50%;
}

.diagramm {
    border-radius: 0.5em;

}

.quelle{
    color: rgb(255 255 255 / 0.8);
    font-family: sans-serif;
    font-size: 0.8em;
    margin-left: 1em;
}

.text_mit_bild {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    grid-gap: 1em;
}

@media (min-width: 60em) {
    .text_mit_bild {
        grid-template-columns: 1fr 1fr;
    }
}

.text_mit_bild img {
    width: 100%;

    height: auto;
}


